## Following variables need to be defined
# Define ENDPOINT, CLIENT_ID
CLIENT_ID = os.popen('hostname').readline().strip('\n') # This grabs the hostname but can be replaced witha string
ENDPOINT = "a30knwf2xeu9vh-ats.iot.eu-west-2.amazonaws.com"

# Paths to Amazon CA, Private cert and key
PATH_TO_CERT = "/home/pi/iot/c4b1b5b8c9-certificate.pem.crt"
PATH_TO_KEY = "/home/pi/iot/c4b1b5b8c9-private.pem.key"
PATH_TO_ROOT = "/home/pi/iot/AmazonRootCA1.pem"
